.gallery {
  margin: 92px 48px 0 48px;
  display: grid;
  /*border: 1px solid red;*/
  max-width: 1184px;
  width: calc (100% - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (max-width:1024px) {
  .gallery {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 14px;
    row-gap: 14px;
  }
}

@media screen and (max-width:768px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    margin:88px 42px 88px 42px;
  }
}

@media screen and (max-width:320px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
    margin: 64px 16px 64px 16px;
  }
}
