.footer__link {
  margin: 0 18px 0 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width:320px) {
  .footer__link {
    padding: 0 0 32px 0;
    margin: 0;
    font-size: 24px;
  }
}
