.footer__links {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width:650px) {
  .footer__links {
    flex-wrap: wrap;
    line-height: 40px;
  }
}

@media screen and (max-width:320px) {
  .footer__links {
    flex-direction: column;
  }
}
