.footer {
  margin:0;
  padding: 92px 48px 24px 48px;
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red;*/
}

@media screen and (max-width:1024px) {
.footer{
  max-width:928px;
  width:100%;
}
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 720px;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    max-width: 186px;
    margin: 0 118px 0 16px;
    padding: 64px 0 24px 0;
    flex-direction: column;
  }
}
